faicons - for Font Awesome free Icons
pandas - for working with tabular data in Python
pyarrow - required by the new pandas
plotly - easy interactive charts
scipy - for the stats linear regression function to build a trend line for our chart
shiny - used to build our web app in Python
shinylive - used to build to our docs folder and host our app on GitHub Pages
shinywidgets - a wrapper for complex widgets like plotly charts
